
<div class="container">
<form (submit)="login(form)" #form="ngForm" class="loginForm">
    
        <mat-form-field class="example-full-width">
            <input 
            ngModel
            #username ="ngModel"
            matInput 
            placeholder="Username"
            required
            name="username">
        </mat-form-field>
        <div *ngIf="username.errors" class="alert alert-danger">
                <div *ngIf="username?.errors.required && (username.dirty || username.touched)">
                        El nombre de usuario es requerido
                    </div>
            <div *ngIf="username?.errors.minlength">
                El nombre de usuario ha de ser como mínimo 8 carácteres
            </div> 
        </div>
   
        <mat-form-field class="example-full-width">
            <input matInput 
            type="password" 
            placeholder="Password" 
            ngModel
            #password ="ngModel"
            minlength="8"
            name="password">
        </mat-form-field> 
        <button mat-raised-button>Login</button>
</form>
</div>


       